/* App.css */
/* Import Frutiger Black Italic font */
@import url('https://fonts.googleapis.com/css2?family=Frutiger:wght@900&display=swap');

body {
  font-family: 'Frutiger Black Italic', 'Vilsuve Bold Oblique', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(to right, #4262ff, #2ecc71);
  padding: 20px;
  color: white;
}

/* Apply Frutiger Black Italic to "Capital" */
.App-header h1 {
  font-family: 'Frutiger Black Italic', 'Vilsuve Bold Oblique', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 4em;
  margin: 0;
  letter-spacing: 2px;
  text-shadow: #4262ff;
  color: #09186f;
}

/* Apply Frutiger Black Italic to the numeric 47 */
.App-header h1 span {
  font-family: Minion Italic, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.4em;
  color: #09186f; /* Change the color to your desired color */
}

/* Add linear gradient to create the blue-to-red arc */
/* .App-header::before {
  content: ''; /* Empty content as pseudo-elements are used for decoration */
  /* position: absolute;
  top: 0%; /* Adjust the position to be in the middle */
  /* left: 62%;
  right: 30%;
  bottom: 85%; /* Adjust the position to be in the middle */
  /* background: linear-gradient(to right, #c6060c, #cf4d5a);
  border-radius: 0% 50% 0% 50%; /* Create an elliptical shape */

  /* z-index: 0; /* Move the gradient behind the text */
/* } 







/* Responsive adjustments for the numeric 47 */
@media screen and (max-width: 600px) {
  .App-header h1 span {
    font-size: 1.5em;
  }
}

main {
  padding: 10px;
}

footer {
  background: linear-gradient(to right, #4262ff, #2ecc71);
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive adjustments */
.App-logo {
  height: 20vmin;
}

